<h1>Products</h1>

<%-if @products.present? %>
  <div class="row">
    <%-@products.each do |product|%>
      <div class="card" style="width: 18rem;">
        <img src='<%= product.image_url %>' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=product.title%></h5>
          <p class="card-text"><%=product.description%></p>
          <a href='<%= product_path(product) %>' class="btn btn-primary">Show</a>
        </div>
      </div>
    <% end -%>
  </div>
<% end -%>
